<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Développement durable
            {% endblock %}
        </title>
            
        {% block stylesheets %}
        
            {% stylesheets output="css/compiled/main.css" filter="cssrewrite, ?yui_css" 
                'css/structPage.css'
                'css/admin.css'
            %}
            
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            
            {% endstylesheets %}
            
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <header id="banDev">
            <div id="details">
                <div id="leftBan"></div>
                <div id="arbre"></div>
            </div>
            <div id="navtabs">
                <!-- MENU A CONCEVOIR DE MANIERE AUTOMATIQUE -->
                <!--ul>
                    <li class="hover first">
                        <a href="/features/index.html" title="Accueil, Développement durable">Accueil</a>
                    </li>
                    <li class="hover ">
                        <a href="/features/platform/index.html" title="Le menu 2">Le menu 2</a>
                    </li>
                    <li class="hover ">
                        <a href="/enterprise/index.html" title="Le menu 3">Le menu 3</a>
                    </li>
                    <li class="hover ">
                        <a href="http://plugins.netbeans.org/PluginPortal/" title="Le menu 4">Le menu 4</a>
                    </li>
                    <li class="hover ">
                        <a href="/kb/index.html" title="Le menu 5">Le menu 5</a>
                    </li>
                    <li class="hover ">
                        <a href="/community/index.html" title="Le menu 6">Le menu 6</a>
                    </li>
                    <li class="hover ">
                        <a href="/enterprise/index.html" title="Le menu 3">Le menu 3</a>
                    </li>
                    <li class="hover ">
                        <a href="http://plugins.netbeans.org/PluginPortal/" title="Le menu 4">Le menu 4</a>
                    </li>
                    <li class="hover ">
                        <a href="/kb/index.html" title="Le menu 5">Le menu 5</a>
                    </li>
                    <li class="hover ">
                        <a href="/community/index.html" title="Le menu 6">Le menu 6</a>
                    </li>
                </ul-->  
            </div>
        </header>
        <nav id="arianneDev">
            {% block arianne %}
                > Admin
            {% endblock %}
        </nav>
        <div id="contentDev">
            <aside id="leftContent">
                {% block leftCont %}{% endblock %}
            </aside>
            <section id="rightContent">
                {% block body %}{% endblock %}
            </section>
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
