<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Développement durable
            {% endblock %}
        </title>
            
        {% block stylesheets %}
        
            {% stylesheets output="css/compiled/main.css" filter="cssrewrite"
                'css/menu.css'
                'css/structPage.css'
            %}
            
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            
            {% endstylesheets %}
            
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <header id="banDev">
            <div id="details">
                <div id="leftBan"></div>
                <div id="arbre"></div>
            </div>
            <div id="navtabs">
                {% block menu %}{% endblock %}
            </div>
        </header>
        
        <div id="breadcrumb">
            <ul>
                {% block arianne %}
                     <li class="first">
                         <a href="{{ path('article_dev_homepage', {'id': 1 }) }}" title="Retour à l'accueil">
                             Accueil
                         </a>
                         <span class="end">&nbsp;</span>
                     </li>  
                {% endblock %}
            </ul>
        </div><!-- /breadcrumb-->
            
        <div id="contentDev">
            <div id="leftContent">
                {% block leftCont %}{% endblock %}
            </div>
            <div id="rightContent">
                {% block body %}
                    <p id='entete'>Le développement durable</p>
                {% endblock %}
            </div>
        </div>
  
        {% block javascripts %}{% endblock %}
    </body>
</html>
