{% extends "PageDevBundle::adminLayout.html.twig" %}

{% block arianne %}
    {{ parent() }} > Ajout de cotégories
{% endblock %}

{% block body %}
    <h3>
        Ajout de catégories et de sous-catégories
        <hr>
    </h3>
    {#<form action="" method="post" id="formAddCategory">
        <label for="categoryName">
            Nom (Utilisé dans les menus):
        </label>
        <input type="text" id="categoryName" name="categoryName"><br>
        <label for="categoryParent">
            Appartient à la catégorie:
        </label>
        <select id="categoryParent" name="categoryParent">
            <option>21</option>
        </select><br>#}
    <div class="well">
        <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" id="btAdd" value="Valider" >
        </form>
    </div>

{% endblock %}