
#navtabs {
  background:#483D8B;
  color:white;
  font-size:1em;
  height:45px;
  width:100%;
  margin:0;
  padding:0;
  text-align:center;
}

#menu li ul {
    position:absolute;
}

#menuDeroulant
{
    width: 100%;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
    border: 0;
    top: 0;
    left: 0;
    font-size: 12px;
    font-weight: bold;
}

#menuDeroulant li
{
    float: left;
    width: 150px;
    margin: 0;
    padding: 0;
    border: 0;
}

#menuDeroulant .sousMenu
{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#menuDeroulant .sousMenu li
{
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
    width: 150px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}


#menuDeroulant li a:link, #menuDeroulant li a:visited
{
    display: block;
    height: 1%;
    color: #FFF;
    background: #483D8B;
    margin: 0;
    padding: 4px 8px;
    border-right: 1px solid #fff;
    text-decoration: none;
}
#menuDeroulant li a:hover { background-color: darkgreen; color: yellow; }
#menuDeroulant li a:active { background-color: #5F879D; }

#menuDeroulant .sousMenu li a:link,
#menuDeroulant .sousMenu li a:visited
{
    display: block;
    color: #FFF;
    margin: 0;
    border: 0;
    text-decoration: none;
    background: #483D8B;
}
#menuDeroulant .sousMenu li a:hover
{
    background-image: none;
    background-color: #483D8B; color: #F88412;
}
#menuDeroulant li:hover > .sousMenu { display: block; }



 
 /*BREADCRUMB GENERAL STYLE*/

/*Styles du div englobant*/
#breadcrumb{
    font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    width: 90%;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top:22px;
    background: #5F879D;
}
/*Reset sur la liste*/
#breadcrumb ul, #breadcrumb li {
    list-style-type:none;	
    padding:0;margin:0;
}		
/*Styles sur la liste*/
#breadcrumb ul{
    height:22px;
    margin:5px auto;
}	
/*Premier élément de la liste*/
#breadcrumb li.first {
    background:url(../../images/first-left.png) 0 0 no-repeat;
    height:20px;
} 
/*Tous les éléments de la liste sauf premier et dernier*/
#breadcrumb li {
    float:left;
    background:url(../../images/general-left.png) 0 0 no-repeat;
    line-height:20px;
    padding-left:13px;
}
/*Style sur les éléments a et span*/
#breadcrumb li a, #breadcrumb li span {
    float:left;
    background:url(../../images/bg-gradient.jpg) 0 0 repeat-x;
    height:20px;
    margin:0;
    padding:0 0 0 5px;
    font-size:11px;
    text-transform:uppercase;
    letter-spacing:0.02em;
}	
/*Style du dernier span de la liste*/
#breadcrumb li span.end {
    float:left;
    background:url(../../images/general-right.png) 0 0 no-repeat;
    width:15px;
    height:20px;
} 					

.formCateg{
    width:80%;
    height: auto;
    margin: auto;
    border:3px solid #6495ed;
    background: #D0E3FA;
}
.formCateg label.formLabel{
    display: block;
    width: 150px;
    float: left;
    font-weight: bold;
}
.formCateg div{
    margin: auto;
    padding: 5px;
    width: 100%;
}
.formCateg textArea{
    width: 500px;
    height: 150px;
}
input#dev_title,input#dev_content,input#dev_link,input#dev_image,input#dev_subcat, 
select#proposal_question, input#proposal_pEntitled, input#lmenuelt_labelElt, 
input#lmenuelt_linkElt{
    width: 400px;
}
select#lmenuelt_lmenu{
    width: 250px;
}
input#proposal_answer{
    width: 30px;
}

input#dev_author{
    width: 200px;
}
.formCateg input.btn{
    float: right;
    margin: 10px;
}
.formCateg input.btn:hover{
    color: blue;
    cursor: pointer;
}

div#devAdmin{
    width: 90%;
    height: 500px;
    margin: auto;
}
div#devAdmin table {
    border:3px solid #6495ed;
    width:90%;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
}
div#devAdmin thead{
    background-color:#D0E3FA;
    border:1px solid #6495ed;
}
div#devAdmin tbody {
    background-color:#FFFFFF;
    border:1px solid #6495ed;
}
div#devAdmin th {
    font-family:monospace;
    border:1px dotted #6495ed;
    padding:10px;
    background-color:#EFF6FF;
    width:25%;
}
div#devAdmin td {
    font-family:sans-serif;
    font-size:75%;
    font-weight: bold;
    border:1px solid #6495ed;
    padding:10px;
    text-align:center;
    background: lightblue;
}
div#devAdmin td:hover {
    background: lawngreen;
}
div#devAdmin a {
    color:blue;
}
div#devAdmin a:hover {
    color: black;
}

div.well p.title{
    margin-left:20px;
    font-weight: bold;
    font-size:20px;
    color:#F88412;
}
span.adminArticle{
    margin-left: 25px;
    font-size:13px;
}
span.editSup{
    margin-left: 25px;
    font-size:15px;
    text-decoration: none;
    color:black;
}
input#devModif_title, input#devModif_content, input#devModif_link, input#devModif_image, input#devModif_subcat {
    width: 400px;
}
.btn-back{
    background-image: url("../../images/chevron-left.png");
    background-repeat: no-repeat;
    padding-right: 10px;
}
.a-back{
    background: lawngreen;
    padding:5px;
    float:left;
    font-weight: bold;
    color: black;
}
.a-back:hover{
    color: darkgreen;
    cursor: pointer;
}
.btn-danger{
    background-image: url("../../images/close-icon.png");
    background-repeat: no-repeat;
    background-color:lightcoral;
    background-position: left;
    text-align: right;
    padding: 7px;
    float:right;
    border: none;
    width: 100px;
    font-weight: bold;
}
.btn-danger:hover{
    color: red;
    cursor: pointer;
}
.formSup{
    width:300px;
    margin:auto;
}
#devModifCat_labelCategory, #dev_labelSubCategory, #dev_category{
    width: 300px;
}
.good{
    background: lightblue;
    width:80%;
    padding-top: 20px;
    margin:auto;
    text-decoration: none;
}
.good ul.men{
    color:darkgreen;
}
.good li{
    margin: 5px;
    text-decoration: none;
}
.good li:last-child{
    border-bottom: 1px solid black;
}
body{
    background: #5F879D;
    background-attachment: fixed;
    width: 100%;
    margin:auto;min-width:600px;max-width:2000px
}
#contentDev{
    width:90%;
    margin: auto;
    padding: auto;
    height: auto;
}
#banDev{
    width:90%;
    margin: auto;
    padding: auto;
    text-align: center;
    height: 90px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
#details{
    width:100%;
    height: 70px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background: url("../../images/details.png") repeat-x;
}
#leftBan{
    width:92%;
    float: left;
    height: 100%;
    background: url("../../images/details.png") repeat-x;
}
#arbre{
    width:8%;
    float: right;
    height: 100%;
    background: url("../../images/arbreVert.png") no-repeat;
}
#leftContent{
    float:left;
    width:20%;
    height: auto; // A mettre en auto
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #eef7ea) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #eef7ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eef7ea');
    background-color:#ffffff;
    color:#fafafa;
    border-left:1px solid #006400;
    color:#000;
}
#rightContent{
    float:right;
    width:79.5%;
    height: auto;// A mettre en auto
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #eef7ea) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #eef7ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eef7ea');
    background-image: url("../../images/bgContent.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position-x: 200px;
    background-position-y: 5px;
    text-indent:0;
    border-right:1px solid #006400;
    color:#000;
}
#rightContent p.content{
    text-align: justify;
    margin: auto;
    padding: 5px;
}
#rightContent p.linkDev{
    text-align: center;
    width: 95%;
    margin: auto;
    padding: 5px;
    font-weight: bold;
}
#rightContent p#entete{
    margin: 0;
    text-align: center;
    color: darkgreen;
    font-weight: bold;
    font-size: 20px;
    background-color: lightblue;
}
#rightContent div.titleDev{
    padding: 7px;
    width:99%;
    color:crimson;
    font-weight: bold;
    font-size: 16px;
}
.erreur{
    width: 80%;
    height: 30px;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    color: red;
    border: 1px solid red;
    text-align: center;
}
.imageDev{
    width:180px;
    border:0;
    height:120px;
    float: right; border: 0pt none; margin: 5px 10px;
}
.imageDevSup{
    width:250px;
    border:0;
    height:180px;
    float: right; border: 0pt none; margin: 5px 10px;
}
span.details, span.back{
    color:blue;
    font-weight: bold;
    font-size: 12px;
}
a:link{
    text-decoration: none;
}


/* CSS DE LA PAGE DE CONNEXION A LA PARTIE ADMINISTRATION DE L'APPLICATION*/
#contentC{
    width:30%;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: auto;
    height: auto;
    background: red;
}
#connexionContent{
    width:100%;
    height: 250px;// A mettre en auto
    margin: 10px;
    padding: 20px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #eef7ea) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #eef7ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eef7ea');
    background-image: url("../../images/bgContent.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position-x: 200px;
    background-position-y: 5px;
    text-indent:0;
    border:2px solid #483D8B;
    color:#000;
}
#contentC label{
    display: block;
    width: 150px;
    float: left;
    font-weight: bold;
}
#contentC p{
    font-weight: bold;
    font-size: 20px;
    background: #483D8B;
    text-align: center;
    color:#ffffff;
    padding:5px;
    margin: 0;
}
#contentC input#username,#password{
    width: 200px;
}
#contentC input#_submit{
    float: right;
}
#contentC input#_submit:hover{
    cursor: pointer;
    color: blue;
}
#contentC div{
    padding: 15px;
}
div.errorConnexion{
    width:100%;
    font-weight: bold;
    color:red;
    text-align: center;
}
span.barUser{
    float:right;
    font-size: 11px;
    font-weight: bold;
    color:#ffffff;
}
span#barUser a{
    color:blue;
}

div#question{
    width:100%;
    height: auto;
    margin-bottom: 5px;
}
div#question p.title, div#autres p.title{
    margin: 5px;
    text-align: center;
    font-size: 14px;
    color:#483D8B;
    font-weight: bold;
    letter-spacing: 1px;
    background: lightblue;
}
div#autres{
    width:100%;
    height: auto;
}
div#corpQ{
    width:95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
span.laQ{
    margin: 0;
    background: greenyellow;
}
div.lesR{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: auto;
    margin-right: auto;
    background: lightblue;
}
input#btQValide{
    margin: auto;
    padding:5px;
    width: 120px;
    color:blue;
    font-size: 13px;
    font-weight: bold;
}
div#question a.aQuiz, div#autres a.aQuiz{
    margin: 10px;
    font-weight: bold;
    color:darkgreen;
    font-size:12px;
}
div#question a.aQuiz:hover, div#autres a.aQuiz:hover{
    color:blue;
    text-decoration: underline;
}